
:root {
    --mauve: #4e2d45;
    --light: #fff;
    --dark: #000000;
    --tan: #cf8479;
    --orange: rgb(250, 185, 65);
  }
  
  header {
    display: absolute;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
    background-color: var(--mauve);
    color: var(--light);
    border-style: double;
    border-width: 10px;
  }
  
  h1 {
    font-size: 300%;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    text-align: center;
    font-family: "Optima", sans-serif;
  }

  .background {
    padding: 5%;
    margin-top: 1rem;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/586/603/742/minimalism-4k-for-mac-desktop-wallpaper-preview.jpg");
    border-bottom: solid black 4px;
  }

  .background img {
    height: 300px;
    width: 320px;
    border: solid;
    border-color: var(--light);
    border-width: 1px;
    margin-top: 0rem;
   }
  
  .containerMe {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 22rem;
    margin-right: 1.5rem;
    margin-top: -17rem;
    padding: 1%;
    background-color: var(--tan);
    border: solid;
    border-color: var(--mauve);
    border-width: thick;
    border-style: double;
  }

  .containerMe p {
    color: var(--dark);
    font-size: 105%;
    font-family:'Courier New', Courier, monospace;
  }

  .containerWork {
    flex: 1 0 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 22rem;
    margin-right: 1.5rem;
    margin-top: -17rem;
    padding: 1%;
    height: 300px;
    background-image: url("https://cdn.pixabay.com/photo/2017/06/23/13/49/smoke-2434721__340.jpg");
    border: solid;
    border-color: var(--mauve);
    border-width: thick;
    border-style: double;
  }

  .containerWork2 {
    flex: 1 0 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 22rem;
    margin-right: 1.5rem;
    margin-top: 1rem;
    padding: 1%;
    height: 100px;
    width: 410px;
    background-image: url("https://cdn.pixabay.com/photo/2017/06/23/13/49/smoke-2434721__340.jpg");
    border: solid;
    border-color: var(--mauve);
    border-width: thick;
    border-style: double;
  }

  .containerWork3 {
    flex: 1 0 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 51rem;
    margin-right: 1.5rem;
    margin-top: -8.5rem;
    padding: 1%;
    height: 100px;
    width: 410px;
    background-image: url("https://cdn.pixabay.com/photo/2017/06/23/13/49/smoke-2434721__340.jpg");
    border: solid;
    border-color: var(--mauve);
    border-width: thick;
    border-style: double;
  }

  .miniContainer a {
    display: block;
    position: relative;
    height: auto;
    width: 200px;
    top: 210px;
    left: -5px;
    background-color: var(--dark);
    color: var(--light);
    padding: 1%;
    border: solid;
    border-color: var(--light);
  }

  .miniContainer2 a {
    display: block;
    position: relative;
    height: auto;
    width: 200px;
    top: 40px;
    left: -5px;
    background-color: var(--dark);
    color: var(--light);
    padding: 1%;
    border: solid;
    border-color: var(--light);
  }

  .miniContainer3 a {
    display: block;
    position: relative;
    height: auto;
    width: 200px;
    top: 40px;
    left: -5px;
    background-color: var(--dark);
    color: var(--light);
    padding: 1%;
    border: solid;
    border-color: var(--light);
  }

  a:hover{
    color: var(--tan);
  }

  .containerWork:hover {
    opacity: 75%;
  }

  .containerWork2:hover {
    opacity: 75%;
  }

  .containerWork3:hover {
    opacity: 75%;
  }
  
  .title {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: -5rem;
    width: 350px;
    padding: 1%;
    border-right: solid var(--dark);
  }

  h2 {
    margin-left: 70%;
    text-align: right;
    font-size: 200%;
    color: var(--dark);
  }

  a {
    text-align: center;
    font-size: 150%;
  }

  nav ul {
    display: flex;
    justify-content: space-evenly;
    min-width: 10px;
    list-style: none;
  }
  
  nav a {
    background-color: unset;
    border-style: solid;
    border-width: 1px;
    color: var(--light);
    font-weight: bold;
    text-decoration: none;
    font-size: 180%;
    font-family: "Optima", sans-serif;
  }
  
  nav a:hover {
    color: var(--orange);
  }
  
  main {
    max-width: 96%;
    margin: 2% auto;
  }

  .containerContact {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 22rem;
    margin-right: 1.5rem;
    margin-top: -14.5rem;
    padding: 1%;
    border: solid;
    border-color: var(--mauve);
    border-width: thick;
    border-style: double;
  }


  .containerContact a {
    font-size: 130%;
    font-family: "Optima", sans-serif;
    padding: 5%;
  }
  
  footer {
    display: flex;
    justify-content: center;
    padding: 1%;
    background-color: var(--mauve);
    color: var(--light);
  }
/*
@media screen and (min-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow 
  .card-column {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* select the last child to grow to full width if it has space to grow
  .card-column:last-child {
    flex-grow: 1;
  }
}

/* media query for larger screens 
@media screen and (min-width: 992px) {
  header {
    width: 75%;
  }

  .card-column {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}
*/
  